In [15]:
## data 저장하기
data = pd.DataFrame.from_csv('./lc_dataframe(cleaning).csv')
data = data.reset_index()
data.tail()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,acc_now_delinq
268131,31050,60,21.99,857.40,6,61,1,10,1,875000.0,...,9.66,1,0,10,0,25770,79.3,13,0,0
268132,10800,36,7.89,337.89,1,15,1,8,1,92400.0,...,19.62,1,0,11,0,9760,68.7,36,1,0
268133,9000,36,9.17,286.92,2,22,1,1,1,80000.0,...,3.97,1,0,8,0,6320,51.8,17,0,0
268134,14400,60,25.99,431.06,6,65,0,11,5,62000.0,...,16.88,0,1,9,1,5677,45.1,30,0,0
268135,8000,36,12.59,267.98,3,32,1,4,4,45000.0,...,26.21,0,0,12,0,9097,50.8,47,1,0

In [16]:
data = sm.add_constant(data)


model_data = sm.OLS(data['loan_amnt'], data.ix[:,0: 23])
result_data = model_data.fit()
result_data
print(result_data.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              loan_amnt   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.409e+29
Date:                Tue, 28 Feb 2017   Prob (F-statistic):               0.00
Time:                        10:58:56   Log-Likelihood:             5.0131e+06
No. Observations:              268136   AIC:                        -1.003e+07
Df Residuals:                  268113   BIC:                        -1.003e+07
Df Model:                          22
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const               -2.317e-09    3.9e-11    -59.446      0.000   -2.39e-09   -2.24e-09
loan_amnt               1.0000    3.2e-15   3.12e+14      0.000       1.000       1.000
term                  -1.1e-11   8.77e-13    -12.554      0.000   -1.27e-11   -9.29e-12
int_rate            -2.226e-11   3.52e-12     -6.320      0.000   -2.92e-11   -1.54e-11
installment          -8.41e-13   9.97e-14     -8.436      0.000   -1.04e-12   -6.46e-13
grade               -6.852e-10   2.77e-11    -24.733      0.000   -7.39e-10   -6.31e-10
sub_grade            8.976e-11   3.41e-12     26.340      0.000    8.31e-11    9.64e-11
emp_title            1.837e-12   1.62e-11      0.113      0.910   -2.99e-11    3.36e-11
emp_length           1.998e-12   1.02e-12      1.958      0.050   -2.25e-15       4e-12
home_ownership       1.169e-12   1.97e-12      0.594      0.552   -2.68e-12    5.02e-12
annual_inc          -4.544e-17   6.99e-17     -0.650      0.515   -1.82e-16    9.15e-17
verification_status    5.5e-12   8.34e-12      0.659      0.510   -1.09e-11    2.18e-11
issue_d              5.092e-12   1.04e-12      4.878      0.000    3.05e-12    7.14e-12
loan_status          -1.67e-12    8.9e-12     -0.188      0.851   -1.91e-11    1.58e-11
desc                 1.525e-14   1.73e-14      0.884      0.377   -1.86e-14    4.91e-14
purpose              6.686e-12   1.45e-12      4.602      0.000    3.84e-12    9.53e-12
dti                  7.798e-13   5.19e-13      1.501      0.133   -2.38e-13     1.8e-12
delinq_2yrs         -6.473e-12   4.73e-12     -1.367      0.172   -1.58e-11    2.81e-12
inq_last_6mths       3.443e-12   3.52e-12      0.978      0.328   -3.46e-12    1.03e-11
open_acc             8.979e-13   8.24e-13      1.089      0.276   -7.18e-13    2.51e-12
pub_rec              2.196e-12   8.19e-12      0.268      0.789   -1.39e-11    1.82e-11
revol_bal           -2.017e-16   2.18e-16     -0.925      0.355   -6.29e-16    2.26e-16
revol_util           1.781e-13   1.71e-13      1.043      0.297   -1.57e-13    5.13e-13
==============================================================================
Omnibus:                    18683.742   Durbin-Watson:                   0.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            23073.844
Skew:                          -0.675   Prob(JB):                         0.00
Kurtosis:                       3.492   Cond. No.                     1.06e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.06e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [11]:
data.tail()

,const,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,acc_now_delinq
268131,1.0,31050,60,21.99,857.40,6,61,1,10,1,...,9.66,1,0,10,0,25770,79.3,13,0,0
268132,1.0,10800,36,7.89,337.89,1,15,1,8,1,...,19.62,1,0,11,0,9760,68.7,36,1,0
268133,1.0,9000,36,9.17,286.92,2,22,1,1,1,...,3.97,1,0,8,0,6320,51.8,17,0,0
268134,1.0,14400,60,25.99,431.06,6,65,0,11,5,...,16.88,0,1,9,1,5677,45.1,30,0,0
268135,1.0,8000,36,12.59,267.98,3,32,1,4,4,...,26.21,0,0,12,0,9097,50.8,47,1,0

In [14]:
data['revol_util'].shape

(268136,)